.input-message {
  width: 700px;
  height: 36px;
}

.message-item{
  max-width: 350px;
  padding: 10px;
  background-color: silver;
  border-radius: 5px;
}

.spinner {
  margin:15% auto 0;
}

#message-area{
  max-width: 850px;
  height: 550px;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  padding: 5px;
  background-color: whitesmoke;
  overflow-x: hidden;
}

.message-sender{
  font-size: 12px;
}

.message-date{
  font-size: 12px;
}

.bottom-side{
  max-width: 850px;
  background-color: whitesmoke;
  text-align: center;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}
