.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(228, 228, 228, .6);
  height: 90%;
  border-radius: 10px;
  padding: 16px;
}

table {
  background: transparent;
  width: 90%;
}

th {
  font-size: 15px;
  font-weight: bold;
}

.button {
  margin-bottom: 16px;
  margin-right: 16px;
}

.delete-button {
  background: transparent;
}


.back-button {
  background: transparent;
  float: right;
}

.admin-empty-records {
  text-align: center;
}

.status-active {
  display: flex;
  padding: 5px;
  color: #27AE60;
  border-radius: 5px;
}

.status-expected {
  display: flex;
  padding: 5px;
  color: #2874A6;
  border-radius: 5px;
}

.status-completed {
  display: flex;
  padding: 5px;
  color: #283747;
  border-radius: 5px;
}
.search {
  float: right;
  padding: 5px;
  margin-left: 20px;
}

.sorting-panel {
  float: left;
  padding: 5px;
  margin-left: 10px;
  margin-top: 30px;
}

.filtering-panel {
  float: left;
  padding: 5px;
  margin-left: 10px;
  margin-top: 40px;
}

.sorting-label, .filtering-label {
  margin-right: 10px;
}

