.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
.list-group-item{
  display: inline;
  border: 1px solid #3f51b509;
}
.highlighted:hover{
  background:rgba(0,0,0,.06)
}
.table-for-list {
  box-shadow:0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12)
}
table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  border-radius: 6px;
  overflow: hidden;
}
th{
  font-size: 15px;
  font-weight: bold;
}
td{
  cursor: pointer;
}
