.container {
  margin-left: auto;
  margin-right: auto;

  background-color: rgba(228, 228, 228, .6);
}

table {
  width: 100%;
  background: transparent;
}

th {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

mat-paginator {
  background: transparent;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.admin-empty-records {
  text-align: center;
}

.edit-button {
  background: transparent;
}

.search {
  float: right;
  padding: 5px;
  margin-left: 20px;
}

.sorting-panel {
  float: left;
  padding: 5px;
  margin-left: 10px;
  margin-top: 30px;
}

.filtering-panel {
  float: left;
  padding: 5px;
  margin-left: 10px;
  margin-top: 40px;
}

.sorting-label, .filtering-label {
  margin-right: 10px;
}

.icon-download {
  margin-bottom: 10px;
}
