.container {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(228, 228, 228, 0);
}

table {
  width: 100%;
  border-radius: 6px;
  background-color: rgba(228, 228, 228, .3);
}

th {
  color: black;
}

.mat-cell {
  color: black;
  font-size: 14px;
}

.mat-header-cell {
  color: black;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(170, 170, 170, .3);
}

.mat-column-StartDate {
  color: black;
  width:15% ;
}

.mat-column-EndDate {
  color: black;
  width:15% ;
}

.mat-column-Feedback {
  color: black;
  width:10% ;
}
