.container {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(228, 228, 228, .6);
}

table {
  width: 100%;
  background: transparent;
}

th {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

mat-paginator {
  background: transparent;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.mat-form-field{
  width: 45%;
}
.mat-form-field-text{
  width: 93.5%;
}
.add-button {
  background: transparent;
}
.space-between{
  display: inline-block;
  width: 20px;
}
.back-button{
  background: transparent;
  float: right;
}
.list-name{
  text-align: center;
}
.admin-empty-records{
  text-align: center;
}
